.DIVDARK {
  background-color:#0194da;
}

.DIVLIGHT {
  background-color:#c0ecff;
}

body{
  font-family:Comic Sans Ms; 
  text-align:center; 
  background-image:url("ICT BACKGROUND.jpg"); 
  background-size: 100% auto;
}

img{
  float:left;
}

h1{
  font-size:xx-large;
  font-weight:bold;
}

h4{
  font-weight:bold;
}

ol{
  list-style-type:disc;
}
